<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uploader</title>
  </head>
  <body>
    <h1>Welcome, <%=user.username%>!</h1>
    <a href="/logout">Log Out</a>
    <h4>Your Folders</h4>
    <ul>
      <% if (user.folders.length > 0) { %> <% for (const folder of user.folders)
      { %> <% if (!folder?.parentId) { %>
      <li>
        <a href="/app/<%=folder.id%>"><%=folder.name%></a>
        <form
          action="/app/removeFolder"
          id="<%=folder.id%>"
          method="post"
          onsubmit="confirmRemove(event)"
        >
          <input type="hidden" name="id" value="<%=folder.id%>" />
          <button type="submit">Remove Folder</button>
        </form>
        <form action="/app/rename/<%=folder.id%>" method="get">
          <button type="submit">Rename Folder</button>
        </form>
      </li>
      <% } %> <% } %> <% } %>
    </ul>
    <div>
      <form action="/app/create/root" method="post">
        <button type="submit">Add a new folder</button>
      </form>
    </div>

    <script>
      function confirmRemove(event) {
        event.preventDefault();

        const confirmation = confirm("Are you sure?");
        if (!confirmation) return;
        else event.target.submit();
      }
    </script>
  </body>
</html>
