<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=folder.name%></title>
  </head>
  <body>
    <h1><%=folder.name%></h1>
    <ul>
      <% const subFolders = user.folders.filter((fldr) => fldr.parentId ===
      folder.id)%> <%if (subFolders?.length) { %> <% for (const folder of
      subFolders) { %>
      <h3>Subfolders</h3>
      <li>
        <a href="/app/<%=folder.id%>"><%=folder.name%></a>
        <form
          action="/app/removeFolder"
          id="<%=folder.id%>"
          method="post"
          onsubmit="confirmRemove(event)"
        >
          <input type="hidden" name="id" value="<%=folder.id%>" />
          <button type="submit">Remove Folder</button>
        </form>
        <form action="/app/rename/<%=folder.id%>" method="get">
          <button type="submit">Rename Folder</button>
        </form>
      </li>
      <% } %> <% } %>
    </ul>
    <form action="/app/create/<%= folder.id %>" method="post">
      <button type="submit">Add a new folder</button>
    </form>
    <h3>Files</h3>
    <% if (!folder.files.length) { %> No files uploaded in this folder yet. <% }
    else { %>
    <ul>
      <% for (const file of folder.files) { %>
      <li><a href="/app/file/<%=file.id%>"><%= file.name %></a></li>
      <% } %>
    </ul>
    <% } %>
    <a href="/app">Return to the homepage</a>

    <script>
      function confirmRemove(event) {
        event.preventDefault();

        const confirmation = confirm("Are you sure?");
        if (!confirmation) return;
        else event.target.submit();
      }
    </script>
  </body>
</html>
